.postit1 {
background-color: gray;
color: black;
  height: 20vh;
    width: 15vw;
    margin: 0 auto;
    text-decoration: nones;

}

.postit2 {
background-color: gray;
    height: 20vh;
    width: 15vw;
    margin: 0 auto;
    margin-top: 15px;

}


